* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Montserrat', sans-serif;}

header {
    width: 100%;
    height: 80px;
    background-color: #4b8e8d;
}

header .container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header.left {
    color: white;
    font-size: 25px;
    cursor: default;
}

#logo span {
    font-size: 35px;
    font-weight: 800;
    color: #34325e;
}

#logo span #bar {
    font-size: 35px;
    font-weight: 500;
}

.header.right {
    display: flex;
    align-items: center;
}

#searchbar {
    height: 40px;
    font-size: 22px;
    border: 0;
    width: 415px;
    color: white;
    padding-left: 10px;
    display: none;
    background-color: inherit;
    border-bottom: 3px solid white;
    margin-right: 15px;
    /* animation-name: example;
    animation-duration: 0.3s; */
}

#searchbar::placeholder {
    opacity: 0.7;
    font-size: 16px;
    color: white;
}

/* @keyframes example {
    0% {width: 0%;}
    100% {width: 100%;}
} */

#search_icon {
    font-size: 30px;
    margin-top: 5px;
    color: white;
    font-weight: 900;
    cursor: pointer;
}

button {
    border: 0;
    background-color: white;
    color:  #4b8e8d;
    padding: 9px 24px;
    margin-left: 45px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

main {
    margin-top: 30px;
    height: calc(100% - 80px);
    width: 100%;
    position: relative;
}

.intro {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro h1 {
    text-align: center;
    padding: 10px 0 50px 0;
    color: #34325e;
}

.intro img {
    height: 400px;
}

.book-container {
    float: left;
    width: 80%;
}

.section {
    width: 100%;
}

.top.section {
    height: 231px;
    overflow: hidden;
    display: flex;
    width: calc(100% - 15px);
}

.bottom.section {
    height: calc(100% - 231px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    float: left;
    width: 10%;
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 231px;
}

.arrow i {
    transition: 0.2s;
    display: none;
    font-size: 50px;
    color: #4b8e8d;
    cursor: pointer;
}

.arrow i:hover {
    transform: scale(1.2);
}

.book-card {
    float: left;
    width: 128px;
    height: 191px;
    margin: 20px 15px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    opacity: 0.4;
}

.book-card.opacity {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.7);
}

.book-card.hide {
    display: none;
}

.book-card::after, .book-container::after {
    display: table;
    content: '';
    clear: both;
}

.cover-container {
    width: 128px;
    height: 191px;
    cursor: pointer;
}

.cover-container img {
    width: 100%;
    height: 100%;
}

.info-container.active {
    padding: 15px;
    width: 100%;
    border: 1px solid #4b8e8d;
    display: block;
    max-height: 300px;
    overflow-y: auto;
}

.info-container::-webkit-scrollbar {
    width: 10px;
}

.info-container::-webkit-scrollbar-track {
    background: rgba(75, 142, 141, 0.3);
}

.info-container::-webkit-scrollbar-thumb {
    background-color:  #4b8e8d;
    outline: 0;
}

.info-container {
    display: none;
}

.info-container ul li {
    list-style: none;
    margin: 10px 0;
}

.info-container ul li:last-child {
    line-height: 25px;
}

.fa-star {
    color: gold;
}

@media screen and (max-width: 768px) {
    #searchbar {
        width: 250px;
    }

    button {
        padding: 6px 12px;
        margin-left: 25px;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 600;
    }

    #search_icon {
        font-size: 28px;
        margin-top: 5px;
        font-weight: 900;
    }
}

@media screen and (max-width: 510px) {
    .intro img {
        height: 300px;
    }
}

@media screen and (max-width: 425px) {
    button {
        display: none;
    }
}

@media screen and (max-width: 378px) {
    .intro img {
        height: 250px;
    }
}
